body{
    margin-top: 0;
}

.btn {
    border: none;
    opacity: 0.6;
    transition: 0.3s;
}

.btn:hover {opacity: 1}

.colorPicker {
    width: .8em;
}

.tab {
    background-color: #414141;
    transition: 0.3s;
}

.tab:hover {
    background-color: #bababa;
}

.selected{
    background-color: #808080;
}

.colorPicker {
    width: .8em;
}